@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0px;
    height: 100vh;
    background: #fafafa;
}

img {
    max-width: 100%;
}

.black {
    color: black;
}

.p-2 {
    padding: 2px;
}

.p-20 {
    padding: 20px;
}

.m-auto {
    margin: auto;
}

.m-12 {
    margin: 12px;
}

.m-5 {
    margin: 5px;
}

.mt-header {
    margin-top: 78px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.text-yeseva {
    font-family: "Yeseva One", serif;
}

.text-center {
    text-align: center;
}

.decoration-none {
    text-decoration: none;
}

.capitalize {
    text-transform: capitalize;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.regular-text {
    font-family: "Nunito Sans", sans-serif;
}

.h2 {
    font-size: 30px;
}

.fit-content {
    width: fit-content;
}

.pointer {
    cursor: pointer;
}

.text-white {
    color: white;
}

.bg-green {
    background-color: #4A7B66;
}

.bg-black {
    background-color: black;
}

.search-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 14px;
    top: 12px;
    cursor: pointer;
}

.relative {
    position: relative;
}

.flex {
    display: flex;

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    .col-3 {
        flex: 1 1 30%;
    }
    
    .col-4 {
        flex: 1 1 20%;
    }
}

.content {
    background-color: #fafafa;
    padding-left: 10%;
    padding-right: 10%;
}